extends staticlayout
block content
    include homemenu
    div.container      
      div.jumbotron
        div.heroimage
        div.herocontent
          h2 More tuning, less typing
          p Scheduling and customer management from anywhere 
          p Sign up now for our Free Plan! 
          p
            a(class="btn btn-primary btn-lg") Take the Tour &raquo;
            &nbsp;&nbsp;
            a(class="btn btn-primary btn-lg") Plans &amp; Pricing &raquo;
            &nbsp;&nbsp;
            a(class="btn btn-primary btn-lg") Sign Up 

    div.container
      div.row
        div.col-md-4
          h2 Scheduling 
          p.
            View your day, week or month at a glance. Move appointments with drag and drop.  Create recurring appointments.
            Use the proximity scheduler to arrange the most efficient appointment sequence. 
          p
            a(class="btn btn-default", href="#") View details &raquo; 
        div.col-md-4 
          h2 Customer Management
          p 
            | Setup call reminders for upcoming and just-completed appointments. 
            | Identify quiet customers for renewed business. Search customer service history.  
            | Track charges, parts and milage associated with an appointment.</p> 
          p
            a(class="btn btn-default", href="#") View details &raquo;
        div.col-md-4
          h2 Home, Office and Road
          p.
            Access and modify your information from laptops, tablets and smartphones. See and manage your appointments on
            iPhone and Android calendars.
          p
            a(class="btn btn-default", href="#") View details &raquo; 

    hr 
    footer
      p(style="text-align:center;") &copy; Softknowledgy 2013 
