extends angularlayout

block body
  div(ng-controller='HomeCtrl')
    h2 Hello #{user.first_name}!
    ul.menu
      li
        a(href='/app') Home
      li
        a(href='/app/users') Users
        
      div(ng-view)
      
      div
        | Footer
        span(app-version)
        
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  